<div>
    {% for room in rooms %}
        <div>
            <h4>{{room.id}} -- <a href="{% url 'room' room.id %}">  {{room.name}}</a> by {{room.topic.name}} </h4>

            <h5>
                {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">Edit</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
                {% endif %}
                <span> @{{room.host.username}}</span>
            </h5>
            
            <hr>
        </div>
    {% endfor %}

</div>