{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>

<div class="home-container">

    <div>
        <h3>Browse By Shaper</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for topic in topics %}

        <div>
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
        
        {% endfor %}

        <div>
            <h5>{{room_count}} surfboards available</h5>
            <a href="{% url 'create-room' %}">Create Surfboard Room</a>
            <br>    
            <a href="{% url 'create-topic' %}">Create Shaper Topic</a>
    
            <hr>

        </div>
    </div>


    <div>
        <div>

            {% for room in rooms %}
                <div>
                    <h4>{{room.id}} -- <a href="{% url 'room' room.id %}">  {{room.name}}</a> by {{room.topic.name}} </h4>

                    <h5>
                        {% if request.user == room.host %}
                        <a href="{% url 'update-room' room.id %}">Edit</a>
                        <a href="{% url 'delete-room' room.id %}">Delete</a>
                        {% endif %}
                        <span> @{{room.host.username}}</span>
                    </h5>
                    
                    <hr>
                </div>
            {% endfor %}

        </div>
    </div>

    <div>
        <h3>Recent Activity</h3>

        <hr>
        {% for room_message in room_messages %}

        <div>
            <small>@{{ room_message.user }} {{ room_message.created | timesince }} ago</small>
            <small>replied to "{{ room_message.room }}"</small>
            <p>{{room_message}}</p>
        </div>
        {% endfor %}

    </div>

    

</div> 

{% endblock content %}