

{% extends 'main.html' %}

{% block content %}

<h1>{{room.name}}</h1>

<p>{{room.description}}</p>

<div class="comment-wrapper">

    <h3>Converstaion</h3>
    <hr>

    {% for room_message in room_messages%}
    <div>
        <p>{{room_message.body}}</p>
        <small>@{{room_message.user}} {{room_message.created|timesince}} ago</small>

        <hr>
        
    </div>
    {% endfor %}

</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your message here..."/>

    </form>
</div>
{% endif %}

{% endblock content %}